<h2>All Doctors</h2>

<div *ngIf="loading">Loading...</div>
<div *ngIf="error" class="error">{{ error }}</div>

<ul class="appointments-grid" *ngIf="!loading && !error">
  <li *ngFor="let doctor of doctors" (click)="selectDoctor(doctor.id)" style="cursor: pointer;"  class="appointment-card">
    Name: <strong> {{ doctor.name }} </strong><br>
    Lastname: <strong> {{ doctor.lastname }}</strong><br> 
    Experience: {{ doctor.experience }} Years<br><br>
  </li>
</ul>

<div *ngIf="selectedDoctor">
  <h3>Making an appointment with doctor: {{ selectedDoctor }}</h3>
  
  <label>Choose date:</label>
  <input type="datetime-local" [(ngModel)]="selectedDate" />

  <button (click)="bookAppointment()" style="cursor: pointer;">Book an appointment</button>
</div>