<h2>All Patients</h2>

<div *ngIf="loading">Loading...</div>
<div *ngIf="error" class="error">{{ error }}</div>

<ul class="appointments-grid" *ngIf="!loading && !error">
  <li *ngFor="let patient of patients" (click)="selectPatient(patient.id)"  style="cursor: pointer;" class="appointment-card">
    Name: <strong> {{ patient.name }} </strong><br>
    Lastname: <strong> {{ patient.lastname }}</strong><br> 
    Email: {{ patient.email }}<br> 
    Number: {{ patient.number }} <br><br>
  </li>
</ul>